[Unit]
Description=Fetch Bing picture of the day and set as a wallpaper

[Timer]
OnCalendar=*:0/15
Persistent=true
AccuracySec=1s
RandomizedDelaySec=30s

[Install]
WantedBy=timers.target
