[Unit]
Description=Fetch Bing picture archive

[Service]
Type=oneshot
WorkingDirectory=/media/nfs/home/photo/world/bing-original
ExecStart=/usr/bin/perl "%h/.local/bin/bing-wallpaper-archive-download"

[Install]
WantedBy=default.target
