[Unit]
Description=Fetch Bing picture of the day and set as a wallpaper

[Service]
Type=oneshot
ExecStart=/usr/bin/bash -c 'source "%h/.local/lib/relocatable-perl-dev.rc"; "%h/.local/script/bing-wallpaper" -s'
UMask=0002

[Install]
WantedBy=default.target
