[Unit]
Description=Fetch Bing picture of the day and set as a wallpaper

[Service]
Type=oneshot
ExecStart=/usr/bin/bash -c 'source "%h/.local/lib/perl5/perlbrew-dev.rc"; "%h/.local/script/bing-wallpaper" -s'

[Install]
WantedBy=default.target
