[Unit]
Description=Fetch archive

[Service]
Type=oneshot
WorkingDirectory=/media/nfs/home/photo/world/bing-peapix/#by-date/2022
ExecStart=/usr/bin/perl "%h/.local/private-script/peapix-wallpaper-archive-download"

[Install]
WantedBy=default.target
