[Unit]
Description=v4l2 record
Wants=v4l2-tee.service

[Service]
Type=simple
Restart=on-failure
RestartSec=30
ExecStart=/usr/bin/bash -c "%h/git/private/dotfiles/submodules/private/.local/script-private/v4l2-record"

[Install]
WantedBy=default.target
