[submodule "submodules/private"]
	path = submodules/private
	url = ssh://home.ams/volume1/service/git/dotfiles-private.git
[submodule "submodules/secret"]
	path = submodules/secret
	url = ssh://home.ams/volume1/service/git/dotfiles-secret.git
[submodule ".config/zsh/3rdparty/zsh-autosuggestions"]
	path = .config/zsh/3rdparty/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule ".config/zsh/3rdparty/zsh-completions"]
	path = .config/zsh/3rdparty/zsh-completions
	url = https://github.com/zsh-users/zsh-completions
[submodule ".config/zsh/3rdparty/zsh-syntax-highlighting"]
	path = .config/zsh/3rdparty/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
