!.local/script
*.spl
*.sug
*.zwc
.config/mpv/watch_later
.config/nvim/autoload/plug.vim
.config/shell/*.work
.config/systemd/user/default.target.wants
.config/systemd/user/plasma-kwin_x11.service
.config/systemd/user/plasma-workspace.target.wants
.config/systemd/user/sockets.target.wants
.config/systemd/user/timers.target.wants
.config/vifm/scripts/README
.config/vifm/vifm-help.txt
.config/vifm/vifminfo*
.config/zsh/plugins/completion/_bk
.local/bin
.ssh/authorized_keys
