!.local/script
**/autoload/plug.vim
*.spl
*.sug
.config/git/delta.gitconfig.conditional
.config/mpv/watch_later
.config/nvim/.luarc.json
.config/shell/*.work
.config/systemd/user/default.target.wants
.config/systemd/user/git-maintenance*
.config/systemd/user/plasma-kwin_x11.service
.config/systemd/user/plasma-workspace.target.wants
.config/systemd/user/sockets.target.wants
.config/systemd/user/timers.target.wants
.config/vifm/scripts/README
.config/vifm/vifm-help.txt
.config/vifm/vifminfo*
.config/vim/.netrwhist
.config/zsh/.zcompdump
.config/zsh/3rdparty/
.config/zsh/completion/_bk
.local/bin
.ssh/authorized_keys
worktree/
