# vim: filetype=sh foldmethod=marker
# shellcheck shell=bash

# when lightdm runs this script the ssh agent is not yet started, but I expect it will be started later and create the socket

# => gcr-ssh-agent ------------------------------------------------------------------------------------------------ {{{1

# export SSH_AUTH_SOCK="${XDG_RUNTIME_DIR}/gcr/ssh"

# => keyring-ssh-agent -------------------------------------------------------------------------------------------- {{{1

# export SSH_AUTH_SOCK="${XDG_RUNTIME_DIR}/keyring/ssh"

# => gpg-agent-ssh ------------------------------------------------------------------------------------------------ {{{1

#export SSH_AGENT_PID=
export SSH_AUTH_SOCK="${XDG_RUNTIME_DIR}/gnupg/S.gpg-agent.ssh"

# => openssh-agent ------------------------------------------------------------------------------------------------ {{{1

# export SSH_AUTH_SOCK="${XDG_RUNTIME_DIR}/S.ssh-agent"

# => use default Perl + modules globally -------------------------------------------------------------------------- {{{1

[[ -r "$HOME/.local/lib/relocatable-perl-dev.rc" ]] && source "$HOME/.local/lib/relocatable-perl-dev.rc"

# => use default env ---------------------------------------------------------------------------------------------- {{{1

[[ -r "$HOME/.config/shell/env" ]] && source "$HOME/.config/shell/env"

# => use default Node --------------------------------------------------------------------------------------------- {{{1

[[ -r "$HOME/.config/shell/node.env" ]] && source "$HOME/.config/shell/node.env"
